---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro'
import BestFriend from "../components/BestFriend.astro";
---

<Layout title="Сергей Фомчуков" icon="./favicon.ico">
	<main>
		<h1 class="name"><span class="text-gradient">Sergey Fomchukov</span></h1>
		<h3 class="subinfo text-gradient">Developer of web applications</h3>
		<div style="text-align: center;">
			<a href="/">
				<img src="https://avatars.githubusercontent.com/u/69781290" class="avatar">
			</a>
		</div>
		<p class="instructions">
			About Me:
		</p>
		<p>
		<ul>
			<li>Gender: Male</li>
			<li>Age: 16</li>
			<li>Hobbies: English, Programming</li>
			<li>I write Minecraft mods, Discord and Telegram bots</li>
		</ul>
		<p class="instructions">
			Tools that I use:
		</p>
		<ul>
			<li>Python</li>
			<li>JavaScript</li>
			<li>Java</li>
			<li>HTML</li>
			<li>CSS</li>
		</ul>
		<p class="instructions">
			Friends:
		</p>
		<ul role="list" class="link-card-grid">
			<BestFriend
				title="Tapnisu (Alexei Rybin)"
				body="The best person, that I`ve ever met :3"
				img="https://avatars.githubusercontent.com/u/57483029"
				href="https://tapni.su"
			/>
			<Card
				title="Metla"
				body="My second friend :3"
				img="./team/metla.png"
				href="http://metla-blend.ru"
			/>
			<Card
				title="Akirakitsune"
				body="My third friend :3"
				img="./friend/akira.jpg"
				href="https://t.me/akirakitsunechannel"
			/>
			<Card
				title="MIYA"
				body="My fourth friend :3"
				img="./friend/miya.jpg"
				href="https://t.me/miya_mito"
			/>
		</ul>
		<p class="instructions">
			Projects:
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://old.askiphy.online/"
				title="Old site"
				body="Go to old version of site."
				img="https://old.askiphy.online/assets/MySite.png"
			/>
			<Card
				href="https://askiphy.online/raya"
				title="Raya-Prime V2"
				body="Discord bot with a lot of functions. Created according to MrLololoshka season."
				img="./projects/rayaV2.jpg"
			/>
			<Card
				href="http://old.askiphy.online/rayaprime-page/"
				title="Raya-Prime"
				body="Discord bot with a lot of functions. Created according to MrLololoshka season."
				img="https://old.askiphy.online/assets/rayaprime.png"
			/>
			<Card
				href="/"
				title="My site"
				body="New version of my site. Now you are here."
				img="./projects/newsite.jpg"
			/>
			<Card
				href="https://lite.askiphy.online/"
				title="Old site v2"
				body="Old, updated version of my first site."
				img="./projects/litesite.jpg"
			/>
			<Card
				href="https://mcdocs.askiphy.online/"
				title="Documentation"
				body="Documentation for some my projects."
				img="./projects/askidocs.png"
			/>
			<Card
				href="https://maven.askiphy.online/"
				title="Maven Repository"
				body="Repository for my projects."
				img="./projects/askimaven.jpg"
			/>
			<Card
				href="https://mods.askiphy.online/"
				title="Mods"
				body="Site with info about all my mods(in dev)."
				img="./projects/askimods.jpg"
			/>
			<Card
				href="https://status.askiphy.online/"
				title="Status"
				body="Status of my projects and some technical information."
				img="./projects/askistatus.png"
			/>
			<Card
				href="https://api.askiphy.online/"
				title="API Services"
				body="Some API services for my projects."
				img="./projects/askiapi.png"
			/>
		</ul>
	</main>
	<Footer></Footer>
</Layout>

<style>
	* {
		font-family: "Roboto Light",sans-serif;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	body {
		font-family: 'Roboto Light', cursive;
		margin: 0;
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.subinfo {
		text-align: center;
	}

	.name {
		text-decoration: underline;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		text-align: center;
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.avatar_wrap {
		flex: fit-content;
		justify-content: center;
	}

	.avatar {
		padding: 10px;
		height: 5cm;
		border-radius: 50%;
		border: solid #286fb7 1mm;
	}
</style>
