---
import Layout from "../layouts/Layout.astro";
import TeamMember from "../components/TeamMember.astro";
import YoutuberCard from "../components/YoutuberCard.astro";
import Card from "../components/Card.astro";
---

<Layout title="StarryNight Team">
    <main>
        <h1>
            <span class="logo-text">StarryNight Team</span>
        </h1>
        <p class="info">
            Мы - команда разрабатывающая сюжет для игры Minecraft с использованием своего собственного мода StarryTale.
        </p>
        <h2 class="info">
            История
        </h2>
        <p class="info">
            Наша дружная команда была создана 7 сентября 2023 года человеком по имени askiphy. На тот момент, в команде находился VitaVit. После открытия команды стало легче создавать сюжетные сезоны для Метлы, т.к раньше сезоны создавались только askiphy.
        </p>
        <h2 class="info">
            Наша команда
        </h2>
        <ul role="list" class="team-members-grid">
            <TeamMember
                    name="askiphy"
                    phrase="И помните: askiphy заботится о Вас!"
                    desc="Создавал в одиночку первые сезоны Метлы"
                    img="https://avatars.githubusercontent.com/u/69781290"
                    role="Глава команды, самый главный кодер"
            />
            <TeamMember
                    name="VitaVit"
                    phrase="Немного сумасшедший модер и сценарист."
                    desc="Один из основателей SP, занимается разработкой некоторых механик, замечательный собеседник :>"
                    img="https://media.discordapp.net/attachments/1246146245202935899/1246163540742508634/remix-480b1a6b-f62b-4312-af4b-e8ec53c13968.png?ex=665c0c7c&is=665abafc&hm=20e8e523fec331394751dfa65fe142cc9897c5ebaaf4c515a5f64e8ec2816d22&=&format=webp&quality=lossless&width=350&height=350"
                    role="Зам. главы команды, сценарист"
            />
            <TeamMember
                    name="breadedyt"
                    phrase="Лучше поздно чем никогда, так что пофиг на дед лайны."
                    desc="Хороший собеседник"
                    img="https://media.discordapp.net/attachments/1246146245202935899/1246362534878117908/photo_2023-06-12_19-45-20_1.jpg?ex=665c1d10&is=665acb90&hm=79eabf76720d1f77c4497675278c0b1e103009484dd9059f72401feba9f3b03f&=&format=webp&width=676&height=676"
                    role="Дизайнер, старший билдер"
            />
            <TeamMember
                    name="kolly1988"
                    phrase="Каждый раз, в каждую секунду, требуется помнить каждую последнюю ноту жизни, так что могу сказать лишь одно, я не Коля."
                    desc="Хороший собеседник, обожает свою работу и постоянно просит ее, отличный певец :>"
                    img="https://media.discordapp.net/attachments/1246146245202935899/1246148189875212288/images.png?ex=665bfe30&is=665aacb0&hm=8d59826129d200e7547bd65cac40eb350a89472cccbf683d76475604238ba9f4&=&format=webp&quality=lossless"
                    role="Композитор"
            />
            <TeamMember
                    name="☭⁅SeNnHeS⁆☼"
                    phrase="Когда я строю, я строю как ярый коммунист, за идею."
                    desc="Самый лучший билдер, отличный певец, вокалист песни 'В сердце тьма'"
                    img="https://media.discordapp.net/attachments/1246146245202935899/1246148745452716162/284_20240531220536.png?ex=665bfeb5&is=665aad35&hm=37658968bbdf5bd5007b806c1452e8334783c06f171bb98af2086b44cbd22668&=&format=webp&quality=lossless"
                    role="Главный билдер"
            />
        </ul>
        <h2 class="info">
            Сотрудничаем с
        </h2>
        <ul role="list" class="team-members-grid">
            <YoutuberCard
                    name="Метла"
                    img="https://media.discordapp.net/attachments/1030820991024246796/1246144704144347259/0eb1dfc784c8cc00.png?ex=665b5231&is=665a00b1&hm=1415fd90ed2e132939eede945f94128b4ac00f3d29d173b6fa99509171a9c568&=&format=webp&quality=lossless&width=350&height=350"
                    url="https://youtu.be/kMy8W0j-Slw?si=a9TyHjd3QaMj_zvF"
            />
        </ul>
        <h2 class="info">
            Наши проекты:
        </h2>
        <ul role="list" class="team-members-grid">
            <Card
                    title="StarryTale"
                    body="Приватный сюжетный мод"
            />
            <Card
                    title="StarryTaleTweaks"
                    body="Приватный мод, делающий выживание сложнее"
            />
        </ul>
        <h2 class="info">
            Наши подразделения:
        </h2>
        <ul role="list" class="team-members-grid">
            <Card
                    title="DeversityVerse: Staff"
                    body="Подразделение приватного сервера с сюжетом DeversityVerse"
                    img="https://media.discordapp.net/attachments/1018884305503658035/1246491444907085855/dv.png?ex=665c951f&is=665b439f&hm=c3546ad1475bd152a19eae54b6efdca8f6a651a51a6d5bba8332f33d9bc78616&=&format=webp&quality=lossless&width=676&height=676"
            />
            <Card
                    title="Daskvol Studio"
                    body="Подразделение сервера Daskvol"
                    img="https://media.discordapp.net/attachments/1134815073282556036/1235143527147638835/Icon.png?ex=665c2b0c&is=665ad98c&hm=ab437994b1f8b8507939fb8455a116d40e24b2997cb54aaafa68fa22c6e7b127&=&format=webp&quality=lossless"
            />
        </ul>
    </main>
</Layout>

<style>
    .logo-text {
        color: #3b75cc;
        -webkit-background-clip: text;
        background-size: 400%;
        background-position: 0%;
    }

    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    body {
        font-family: 'Nunito', cursive;
        margin: 0;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }

    .section-logo {
        font-size: 45px;
        text-align: center;
        -webkit-background-clip: text;
        background-size: 400%;
        background-position: 0%;
    }

    .info {
        text-align: center;
    }

    .team-members-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>