---
---

<div class="bottom">
    <h2>Fomchukov Sergey</h2>
    <h4>Developer of web applications</h4>
    <div class="images">
        <a href="https://youtube.com/channel/UCAM-m8nzQCOlNVPQCBOugYg"
        ><img src="https://raw.githubusercontent.com/askiphy/askiphy.github.io/1f76b9b79ecc620be9ea3344b2b3751d4a3b9f08/assets/icons/brand-youtube.svg"
        /></a>
        <a href="https://vk.com/sfomchukov"
        ><img src="https://raw.githubusercontent.com/askiphy/askiphy.github.io/1f76b9b79ecc620be9ea3344b2b3751d4a3b9f08/assets/icons/brand-vk.svg"
        /></a>
        <a href="https://discord.gg/naduA2VNcM"
        ><img src="https://raw.githubusercontent.com/askiphy/askiphy.github.io/1f76b9b79ecc620be9ea3344b2b3751d4a3b9f08/assets/icons/discord.svg"
        /></a>
        <a href="https://github.com/askiphy"
        ><img src="https://raw.githubusercontent.com/askiphy/askiphy.github.io/1f76b9b79ecc620be9ea3344b2b3751d4a3b9f08/assets/icons/brand-github.svg"
        /></a>
    </div>
</div>

<style>
    .bottom {
        background-color: #181818;
        color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .bottom .images img {
        width: 15mm;
        margin: 2mm;
        filter: invert(100%);
    }
</style>