---
---
<div id="openModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Changelogs</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <p class="instructions">
                    UPDATE v2.7 (Release) (02.01.2025)
                </p>
                <p class="instructions">
                    Changes:<br/>
                    - Added modal for Changelogs <br/>
                    - Removed Changelogs page
                    - Font changed in footer
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <h2>Fomchukov Sergey</h2>
    <h4>Developer of web applications</h4>
    <h4>
        <a href="https://github.com/askiphy/newsite">Source Code</a>
        /
        <a href="#openModal">Changes</a>
    </h4>
    <div class="images">
        <a href="https://youtube.com/channel/UCAM-m8nzQCOlNVPQCBOugYg"
        ><img src="https://raw.githubusercontent.com/askiphy/askiphy.github.io/1f76b9b79ecc620be9ea3344b2b3751d4a3b9f08/assets/icons/brand-youtube.svg"
        /></a>
        <a href="https://vk.com/sfomchukov"
        ><img src="https://raw.githubusercontent.com/askiphy/askiphy.github.io/1f76b9b79ecc620be9ea3344b2b3751d4a3b9f08/assets/icons/brand-vk.svg"
        /></a>
        <a href="https://discord.gg/naduA2VNcM"
        ><img src="https://raw.githubusercontent.com/askiphy/askiphy.github.io/1f76b9b79ecc620be9ea3344b2b3751d4a3b9f08/assets/icons/discord.svg"
        /></a>
        <a href="https://github.com/askiphy"
        ><img src="https://raw.githubusercontent.com/askiphy/askiphy.github.io/1f76b9b79ecc620be9ea3344b2b3751d4a3b9f08/assets/icons/brand-github.svg"
        /></a>
    </div>
</div>

<style>
    .bottom {
        background-color: #1c1c1c;
        color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    * {
        font-family: "Roboto Light", sans-serif;
    }

    .bottom .images img {
        width: 15mm;
        margin: 2mm;
        filter: invert(100%);
    }

    .bottom a {
        text-decoration: underline white;
        color: #fff;
    }

    .bottom a:hover {
        color: goldenrod;
        text-decoration-color: goldenrod;
    }

    /* свойства модального окна по умолчанию */
    .modal {
        position: fixed; /* фиксированное положение */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.5); /* цвет фона */
        z-index: 1050;
        opacity: 0; /* по умолчанию модальное окно прозрачно */
        -webkit-transition: opacity 200ms ease-in;
        -moz-transition: opacity 200ms ease-in;
        transition: opacity 200ms ease-in; /* анимация перехода */
        pointer-events: none; /* элемент невидим для событий мыши */
        margin: 0;
        padding: 0;
        color: white;
    }
    /* при отображении модального окно */
    .modal:target {
        opacity: 1; /* делаем окно видимым */
        pointer-events: auto; /* элемент видим для событий мыши */
        overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
    }
    /* ширина модального окна и его отступы от экрана */
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
    }
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 500px;
            margin: 30px auto; /* для отображения модального окна по центру */
        }
    }
    /* свойства для блока, содержащего контент модального окна */
    .modal-content {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #1c1c1c;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: .3rem;
        outline: 0;
    }
    @media (min-width: 768px) {
        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
        }
    }
    /* свойства для заголовка модального окна */
    .modal-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid #eceeef;
    }
    .modal-title {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 1.25rem;
        font-weight: 500;
    }
    /* свойства для кнопки "Закрыть" */
    .close {
        float: right;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        color: #ffffff;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        text-decoration: none;
    }
    /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
    .close:focus, .close:hover {
        color: #5e5e5e;
        text-decoration: none;
        cursor: pointer;
        opacity: .75;
    }
    /* свойства для блока, содержащего основное содержимое окна */
    .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 15px;
        overflow: auto;
    }

    .instructions {
        margin-bottom: 2rem;
        border: 1mm solid rgb(46, 154, 255);
        background: #222222;
        text-align: center;
        padding: 1.5rem;
        border-radius: 15px;
    }
</style>